.swap {
    width: 23px;
    height: 23px;
    margin: auto;
    display: inline-grid;
    cursor: pointer;
    z-index: 99999999999999999999999;
    color: grey;
  }
  
  .swap > * {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
  }
  
  .swap input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .swap .swap-on, 
  .swap .swap-indeterminate, 
  .swap input:indeterminate ~ .swap-on {
    opacity: 0;
  }
  
  .swap input:checked ~ .swap-off, 
  .swap.swap-active .swap-off, 
  .swap input:indeterminate ~ .swap-off {
    opacity: 0;
  }
  
  .swap input:checked ~ .swap-on, 
  .swap-active .swap-on, 
  .swap input:indeterminate ~ .swap-indeterminate {
    opacity: 1;
  }
  