@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
  font-family: Kardna;
  src: url(./a.otf);
}
.bg-turbo-yellow {
  background-color: #ffcc19;
}

.bg-turbo-yellow-10 {
  background-color: #fff9e5;
}

.bg-turbo-yellow-20 {
  background-color: #ffeeb2;
}

.bg-turbo-yellow-30 {
  background-color: #ffe37f;
}

.bg-turbo-yellow-40 {
  background-color: #ffd74c;
}

.bg-turbo-yellow-50 {
  background-color: #ffcc19;
}

.bg-turbo-yellow-60 {
  background-color: #e5b200;
}

.bg-turbo-yellow-70 {
  background-color: #b28b00;
}

.bg-turbo-yellow-80 {
  background-color: #7f6300;
}

.bg-turbo-yellow-90 {
  background-color: #4c3b00;
}

body {
  font-family: Kardna;
  background: #fafafa;
}

p {
  font-family: Kardna;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.text-sidebar {
  color: #6b6b6b;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: white;
  color: black;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #b28b00;
}

#sidebar ul p {
  color: black;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: white;
  background: #6b6b6b;
}

#sidebar ul li.active > a, a[aria-expanded=true] {
  color: white;
  background: black;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #e5b200;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #6b6b6b;
  color: white;
}

a.article,
a.article:hover {
  background: #6b6b6b;
  color: white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}
.game_section{
  display: grid;
  gap: 1px;
  grid-template-columns: 140px 140px 140px;
  padding: 1px;
}
.game img{
  width: 128px;
  height: 128px;
}
.game p{
  font-size: 16px;
  text-align: center;
}
.game{
  padding: 1px;
  font-size: 30px;
  text-align: center;
}

